<html>
<head>
	<title>PAGE 1</title>
	<link rel="stylesheet" href="page1ar.css">
	</head>
	<body>
		<div class="container-1">
				<nav id="navbar">
					<h1>FunFrenzy</h1>
					<ul>
						<li><a href="/page1ar"><button name="home" type="submit" class="btn">HOME</button></a></li>
						<li><a href="/arform"><button name="post" type="submit" class="btn">POST</button></a></li>
                        <li><a href="/contactus"><button name="home" type="submit" class="btn">CONTACT US</button></a></li>
						<li><a href="/about"><button name="home" type="submit" class="btn">ABOUT US</button></a></li>
					</ul>
			</nav>
		<div class="container">
			<a href="stry1"><div class="stry">STORY TELLERS</div></a>
			<a href="dancer"><div class="dance">DANCERS</div></a>
			<a href="pop" ><div class="pop">POP-STARS</div></a>
			<a href="stc" ><div class="stc">STANDUP_COMEDIANS</div></a>
			<a href="sing" ><div class="sing">SINGERS</div></a>
			<a href="TT" ><div class="TT">TED TALKS</div></a>
			<a href="PP"><div class="PP">PUPPET-SHOW</div></a>
			<a href="pt"><div  class="pt">POETRY</div></a>
		</div>
		</div>
	</body>
</html>